body {
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 1em;
    text-align: center;
}

.control {
  background-color : #31B0D5;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: #000000;
  text-align: center;
  font-size: 1.25em;
}

.info {
  background-color : #A9A9A9;
  color: white;
  padding: 10px 10px;
  border-radius: 4px;
  border-color: #000000;
  text-align: center;
  font-size: .5em;
}

.emergency {
  background-color : #ff0000;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: #000000;
  text-align: center;
  font-size: 1.5em;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.flex-container-throttle {
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#left_button {
  position: fixed;
  bottom: -4px;
  left: 10px;
}

#right_button {
  position: fixed;
  bottom: -4px;
  right: 10px;
}

#settings_button {
  position: fixed;
  left: 10px;
}

#fs_button {
  position: fixed;
  right: 10px;
}

#up_button {
  position: center;
  bottom: -4px;
}

#down_button {
  position: center;
  bottom: -4px;
}

#stop_button {
  position: center;
}
